<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mongoose Dashboard</title>
    <script src="/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <h1>Animals Dashboard</h1>
    <a href="animal/new">Create new animal</a>
    <% for(var i=0; i<data.length; i++) { %>

    <div>
      <p>-<%= data[i].name %> </p>
      <p>-<%= data[i].type %> </p>
      <p>-<%= data[i].description %> </p>
      <a href='animal/<%= data[i]._id %>'>Show</a>
      <a href='animal/edit/<%= data[i]._id %>'>Edit</a>
      <form class="" action='animal/destroy/<%=data[i]._id %>' method="post">
        <input type='submit' value='delete'>
      </form>
      <hr>
    </div>
    <% } %>




  </body>
</html>
